In [ ]:
import yfinance as yf
import pandas as pd

assets = {
    'Equity_Index': "^GSPC", # S&P 500       
    'Stock': "AAPL", # Apple Inc.              
    'Currency_Pair': "GBPUSD=X", # GBP to USD   
    'Commodity': "ZC=F", # Corn futures       
    'Crypto': "ETH-USD"  # Ethereum          
}

start_date = "2020-05-01"
end_date = "2025-05-01"

data = yf.download(list(assets.values()), start=start_date, end=end_date)["Close"]

[*********************100%***********************]  5 of 5 completed

In [4]:
data.head()

Ticker           AAPL     ETH-USD  GBPUSD=X    ZC=F        ^GSPC
Date
2020-05-01  70.059349  214.219101  1.258147  311.50  2830.709961
2020-05-02        NaN  215.325378       NaN     NaN          NaN
2020-05-03        NaN  210.933151       NaN     NaN          NaN
2020-05-04  71.050613  208.174011  1.245423  310.75  2842.739990
2020-05-05  72.117004  206.774399  1.244555  313.00  2868.439941

In [5]:
data.tail()

Ticker            AAPL      ETH-USD  GBPUSD=X    ZC=F        ^GSPC
Date
2025-04-26         NaN  1821.881104       NaN     NaN          NaN
2025-04-27         NaN  1792.864990       NaN     NaN          NaN
2025-04-28  209.864792  1798.851807  1.329010  475.50  5528.750000
2025-04-29  210.933395  1799.175659  1.343616  460.50  5560.830078
2025-04-30  212.221710  1793.775391  1.341079  467.25  5569.060059

The in-sample period is starting on 2020-05-01

In [9]:
data.iloc[:-365]

Ticker            AAPL      ETH-USD  GBPUSD=X    ZC=F        ^GSPC
Date
2020-05-01   70.059349   214.219101  1.258147  311.50  2830.709961
2020-05-02         NaN   215.325378       NaN     NaN          NaN
2020-05-03         NaN   210.933151       NaN     NaN          NaN
2020-05-04   71.050613   208.174011  1.245423  310.75  2842.739990
2020-05-05   72.117004   206.774399  1.244555  313.00  2868.439941
...                ...          ...       ...     ...          ...
2024-04-26  168.283661  3130.164795  1.250907  440.00  5099.959961
2024-04-27         NaN  3252.168213       NaN     NaN          NaN
2024-04-28         NaN  3262.774658       NaN     NaN          NaN
2024-04-29  172.458450  3215.428955  1.251048  439.25  5116.169922
2024-04-30  169.307480  3012.286865  1.255982  439.50  5035.689941

[1461 rows x 5 columns]

The out-of-sample period is lasting for 365 days and is starting on 2024-05-01

In [10]:
data.iloc[-365:]

Ticker            AAPL      ETH-USD  GBPUSD=X    ZC=F        ^GSPC
Date
2024-05-01  168.283661  2969.784668  1.249016  443.25  5018.390137
2024-05-02  171.991272  2988.168457  1.253934  452.00  5064.200195
2024-05-03  182.279144  3103.541992  1.254060  447.00  5127.790039
2024-05-04         NaN  3117.576416       NaN     NaN          NaN
2024-05-05         NaN  3137.249023       NaN     NaN          NaN
...                ...          ...       ...     ...          ...
2025-04-26         NaN  1821.881104       NaN     NaN          NaN
2025-04-27         NaN  1792.864990       NaN     NaN          NaN
2025-04-28  209.864792  1798.851807  1.329010  475.50  5528.750000
2025-04-29  210.933395  1799.175659  1.343616  460.50  5560.830078
2025-04-30  212.221710  1793.775391  1.341079  467.25  5569.060059

[365 rows x 5 columns]